**Tuples**

Video Outline:

1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Upacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors

Introduction to Tuples

Explanation: 

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [2]:
## Creating a tuple
empty_tuple=()
print(type(empty_tuple))

<class 'tuple'>

In [5]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [6]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [7]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [9]:
mixed_tuple = (1, "Hello World", 3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [10]:
type(mixed_tuple)

tuple

In [11]:
## Accessing tuple Elements
numbers

(1, 2, 3, 4, 5, 6)

In [12]:
print(numbers[2])
print(numbers[-1])

3
6

In [13]:
numbers[0:4]

(1, 2, 3, 4)

In [14]:
type(numbers)

tuple

In [15]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [16]:
## Tuple Operations

concatenation_tuple = numbers+mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [17]:
type(concatenation_tuple)

tuple

In [18]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [20]:
numbers * 2

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [25]:
## Immutable Nature of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst = [1,2,3,4,5]
print(lst)

lst[1]='Ajwar'
print(lst)

[1, 2, 3, 4, 5]
[1, 'Ajwar', 3, 4, 5]

In [26]:
numbers[1] = "Ajwar"

TypeError: 'tuple' object does not support item assignment

In [27]:
numbers

(1, 2, 3, 4, 5, 6)

In [28]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [29]:
numbers.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [30]:
numbers.count(2)

1

In [31]:
numbers.index(0)

ValueError: tuple.index(x): x not in tuple

In [32]:
## packaging and unpacking tuple
## packing
packed_tuple = 1, "Hello", 3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [33]:
## unpacking a tuple
a, b, c = packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [35]:
## Unpacking with *
numbers = (1, 2, 3, 4, 5, 6)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [39]:
## Nested Tuple
## Nested List
lst = [[1,2,3,4],[6,7,8,9],[1,"hello",3.14,"c"]]
lst[0][0:3]

[1, 2, 3]

In [40]:
lst[0][1]

2

In [42]:
lst = [[1,2,3,4],[6,7,8,9],(1,"hello",3.14,"c")]
lst[2][0:3]

(1, 'hello', 3.14)

In [43]:
nested_tuple = ((1,2,3),("a","b",""),(True,False))

## acess the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)

In [46]:
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
a b
True False

#### Conclusion

Tuples are versatile and useful in many real-world scenarios. They are commonly used in data structures, function arguments, and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.