### Module 3: Data Structure Assignements

#### Lesson 3.2: Tuples

**Assignment 1: Creating and Accessing Tuples**

Create a tuple with the first 10 positive integers. Print the tuple.

In [5]:
t1 = tuple([i for i in range(1,11)])
print(f"data type of this: {type(t1)}")
print(f"\ntuple values are: {t1}")

data type of this: <class 'tuple'>

tuple values are: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

**Assignment 2: Accessing Tuple Elements**

Print the first, middle, and the last elements of the tuple created in Assignment 1.

In [6]:
first, *middle, last = t1
print(f"first value in tuple t1: {first}")
print(f"middle values in tuple t1: {middle}")
print(f"last value in tuple t1: {last}")

first value in tuple t1: 1
middle values in tuple t1: [2, 3, 4, 5, 6, 7, 8, 9]
last value in tuple t1: 10

**Assignement 3: Tuple Slicing**

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [16]:
print(f"first three elements in tuple t1: {t1[:3]}")
print(f"last three elements in tuple t1: {t1[-3:]}")
print(f"index 2 to 5 elements in tuple t1: {t1[2:6]}")

first three elements in tuple t1: (1, 2, 3)
last three elements in tuple t1: (8, 9, 10)
index 2 to 5 elements in tuple t1: (3, 4, 5, 6)

**Assignment 4: Nested Tuples**

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row third column.

In [31]:
l1 = []

for i in range(0,3):
    for j in range(2):
        print(i,j, end=" ")
    print()

0 0 0 1
1 0 1 1
2 0 2 1

In [37]:
[[i,j,k] for i in range(1) for j in range(1) for k in range(3)]

[[0, 0, 0], [0, 0, 1], [0, 0, 2]]

In [67]:
t2 = tuple([tuple([i,j,k]) for i in range(1) for j in range(2,3) for k in range(3)])
print(f"Type of  nested tuple: {type(t2)}")

print(f"\nNested tuple: {t2}")

Type of  nested tuple: <class 'tuple'>

Nested tuple: ((0, 2, 0), (0, 2, 1), (0, 2, 2))

In [69]:
# 2nd row third column value in nested tuple
t2[1][2]

1

**Assignment 5: Tuple Concatenation**

Concatenate two tuples: (1,2,3) and (4,5,6). Print the resulting tuple.

In [71]:
concat_tuples = (1,2,3)+(4,5,6)
print(concat_tuples)

(1, 2, 3, 4, 5, 6)

**Assignment 6: Tuple Methods**

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [74]:
t3 = (1,2,3,1,1,1,3,2,4,5,6)
print(t3)

(1, 2, 3, 1, 1, 1, 3, 2, 4, 5, 6)

In [76]:
type(t3)

tuple

In [77]:
## Count of the first occurrences in the tuple
t3.count(1)

4

In [81]:
# find the number 
n = int(input("Enter a number: "))

if n in t3:
    print('the entered number is present in the tuple')
    print(f'the first index of entered number is: {t3.index(n)}')
else:
    print('the number is not in the tuple')

the entered number is present in the tuple
the first index of entered number is: 1

**Assignment 7: Unpacking Tuples**

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [82]:
t4 = (1,2,"ajwar","ck",True)

In [83]:
a, b, c, d, e = t4

In [85]:
print(f"first element in the tuple: {a}")
print(f"second element in the tuple: {b}")
print(f"three element in the tuple: {c}")
print(f"fourth element in the tuple: {d}")
print(f"fifth element in the tuple {e}")

first element in the tuple: 1
second element in the tuple: 2
three element in the tuple: ajwar
fourth element in the tuple: ck
fifth element in the tuple True

**Assignment 8: Tuple Conversion**

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [ ]:
# Solution1
l1 = [x for x in range(1,6)]

print(f"type of l1 is : {type(l1)}")
print(f"value in l1 are: {l1}")

t5 = tuple(l1)

print(f"\ntype of t5 is: {type(t5)}")
print(f"values in t5 are: {t5}")

type of l1 is : <class 'list'>
value in l1 are: [1, 2, 3, 4, 5]

type of t5 is: <class 'tuple'>
values in t5 are: (1, 2, 3, 4, 5)

In [91]:
# Solution2

t6 = tuple([x for x in range(1,6)])
print(f"type of t6 is: {type(t6)}")
print(f"values are in t6: {t6}")

type of t6 is: <class 'tuple'>
values are in t6: (1, 2, 3, 4, 5)

**Assignment 9: Tuple of Tuples**

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [95]:
t6 = tuple([tuple([i,j,k]) for i in range(1) for j in range(1) for k in range(3)])

In [96]:
print(f"the type of t6 is: {type(t6)}")
print(f"values are in t6: {t6}")

the type of t6 is: <class 'tuple'>
values are in t6: ((0, 0, 0), (0, 0, 1), (0, 0, 2))

**Assignment 10: Tuple and List**

Create a tuple with the first 5 positive integers. Convert it ot a list, append the number 6, and connvert it back to tuple. Print the resulting tuple.

In [105]:
t7 = tuple([i for i in range(1,6)])

print(f"current type of t7 is: {type(t7)}")
print(f"values are in t7: {t7}")

t7 = list(t7)

print(f"\nconverted t7 tuple to : {type(t7)}")

t7.append(6)

t7 = tuple(t7)

print(f"\nnumber 6 has been added in t7 and values are: {t7}")
print(f"post appending 6 in t7, and type is: {type(t7)}")

current type of t7 is: <class 'tuple'>
values are in t7: (1, 2, 3, 4, 5)

converted t7 tuple to : <class 'list'>

number 6 has been added in t7 and values are: (1, 2, 3, 4, 5, 6)
post appending 6 in t7, and type is: <class 'tuple'>

**Assignment 11: Tuple and String**

Create a tuple with the characters of a sting. Join the tuple elements into a single string. Print the string.

In [120]:
t8 = tuple("ajwar")
print(f"Original dtatype of t8 is: {type(t8)} and the values are: {t8}")

t8 = list(t8)
print(f"\nConverted to list and the type is: {type(t8)} and the values are:{t8}")

t8 = ["".join(t8)]
print(f"\njoined the list values without any separator, data type is {type(t8)} and the t8 values are: {t8}")

t8 = tuple(t8)
print(f"\nConverted back to tuple and the type is: {type(t8)} and the t8 values are become single stirng: {t8}")

Original dtatype of t8 is: <class 'tuple'> and the values are: ('a', 'j', 'w', 'a', 'r')

Converted to list and the type is: <class 'list'> and the values are:['a', 'j', 'w', 'a', 'r']

joined the list values without any separator, data type is <class 'list'> and the t8 values are: ['ajwar']

Converted back to tuple and the type is: <class 'tuple'> and the t8 values are become single stirng: ('ajwar',)

**Assignment 12: Tuple and Dictionary**

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [132]:
d = {'id':1, "name":"ajwar"}

In [133]:
type(d)

dict

In [135]:
d['id']

1

In [136]:
d1 = {'id':(1,2,3,4,5), 'name':("ajwar", "ck", "John", "Depp")}
print(type(d1))
print(d1)

<class 'dict'>
{'id': (1, 2, 3, 4, 5), 'name': ('ajwar', 'ck', 'John', 'Depp')}

In [137]:
d1['id']

(1, 2, 3, 4, 5)

In [138]:
d1['id'][2]

3

In [139]:
d1['name'][2]

'John'

**Assignment 13: Nested Tuple Iteration**

Create a nested tuple and iterate over the elements, printing each element.

In [152]:
t9 = tuple([tuple([x,y,z]) for x in range(1) for y in range(1) for z in range(3)])
print(t9)

((0, 0, 0), (0, 0, 1), (0, 0, 2))

In [155]:
for i in t9:
    for j in i:
        print(j, end=" ")
    print()

0 0 0
0 0 1
0 0 2

**Assignment 14: Tuple and Set**

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [158]:
t10 = tuple([x for x in range(1,5)]+[i for i in range(1,5)])
print(f"the type of t10 is: {type(t10)}")
print(f"the values are in t10: {t10}")

s1 = set(t10)
print(f"t10 has been converted to s1, and the type is: {type(s1)}")
print(f"the values are in s1: {s1}")

the type of t10 is: <class 'tuple'>
the values are in t10: (1, 2, 3, 4, 1, 2, 3, 4)
t10 has been converted to s1, and the type is: <class 'set'>
the values are in s1: {1, 2, 3, 4}

**Assignment 15: Tuple Functions**

Write functions that take a tuple and return the minimum, maximum and sum of the elements. Print the results for a sample tuple.

In [2]:
while True:
    try:
        n = int(input("Enter a number: "))
        break
    except ValueError:
        print("Please enter a valid number")
        continue
print(f"the entered number is: {n}")

Please enter a valid number
the entered number is: 4

In [9]:
while True:
    try:
        list1 = [int(x) for x in input("Enter numbers separated by space: ").split()]
        print(list1)
        break
    except ValueError:
        print("Enter a valid list of numbers (use space for separating numbers)")

[1, 2, 3, 4, 5]

In [10]:
(x for x in range(1,6))

In [28]:
def tuple_func():
    try:
        t11 = [int(x) for x in input("Enter numbers separated by space: ").split()]
        t11 = tuple(t11)
        print(f"the type of the t11 is {type(t11)}")
        print(f"minimum value in the tuple is: {min(t11)}")
        print(f"maximum value in the tuple is: {max(t11)}")
        print(f"sum of the tuple is: {sum(t11)}")
    except ValueError:
        print(f"Entered list values have other data type numbers except integer\n")
        print(f"Please enter a valid integer list number")

In [29]:
tuple_func()

Entered list values have other data type numbers except integer

Please enter a valid integer list number