#### Deep Dive into Operators

**Video Outline:**

1. Introduction to Operators
2. Arithmetic Operators
    - Addition
    - Subtraction
    - Multiplication
    - Division
    - Floor Division
    - Modulus
    - Exponentiation
3. Comparison Operators
    - Equal to
    - Not equal to
    - Greater than
    - Less than
    - Greater than
    - Greater than or equal to
    - Less than or equal to
4. Logical Operators
    - AND
    - OR
    - NOT
5. Practical Examples and Common Errors

In [1]:
## Arithmetic Operators

a=10
b=5

add_result=a+b #addition
sub_result=a-b #substraction
mult_result=a*b #multiplication
div_result=a/b #division
floor_div_result=a//b #floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [2]:
10/5

2.0

In [3]:
21/5

4.2

In [4]:
21//5

4

In [5]:
27/7

3.857142857142857

In [6]:
27//7

3

In [9]:
round(27/7)

4

#### Comparison Operators

In [11]:
## Comparison Operators
## == Equal to
a=10
b=10

a==b

True

In [13]:
str1="Ajwar"
str2="Ajwar"

str1==str2

True

In [14]:
## Not equal to !=
str1!=str2

False

In [16]:
str3="Ajwar"
str4="ajwar"

str3!=str4

True

In [ ]:
## greater than >

num1=45
num2=55

num1>num2

False

In [18]:
## less than

num1<num2

True

In [20]:
## greater than > or equal to

num1=45
num2=55

num1>=num2

False

In [21]:
num1_1=45

num1_1>=num1

True

In [22]:
## less than or equal to
num1=44
num2=45

num1<=num2

True

#### Logical Operators

In [23]:
## And, Not, OR
X=True
Y=True 

result=X and Y 
print(result)

True

In [24]:
result

True

In [25]:
type(result)

bool

In [26]:
x=True
y=True
print(x and y)

True

In [27]:
x=False
y=True

result=x and y 
print(result)

False

In [28]:
x=True
y=False 

result=x and y 
print(result)

False

In [29]:
## OR
x=False
y=False

result=x or y 
print(result)

False

In [30]:
x=False
y=True

result=x or y 
print(result)

True

In [31]:
x=True
y=False

result=x or y 
print(result)

True

In [35]:
## Not operator
x=False
not x

True

In [36]:
x=True
not x

False

In [44]:
x=False;y=False
print(not (x or y))

True

In [32]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1+num2
subtraction = num1-num2
multiplication = num1*num2
division = num1/num2
floor_division = num1//num2
modulus = num1%num2
exponentiation = num1 ** num2

# Displaying results
print("Addition: ",addition)
print("Subtraction: ",subtraction)
print("Multiplication: ",multiplication)
print("Floor Division: ",floor_div_result)
print("Modulus: ",modulus)
print("Exponentiation: ",exponent_result)

Addition:  8.0
Subtraction:  -2.0
Multiplication:  15.0
Floor Division:  2
Modulus:  3.0
Exponentiation:  100000

In [48]:
# Simple calculator
n1 = int(input('enter the 1st number without decimal: '))
n2 = int(input('enter the 2nd number without decimal: '))

print(f'Addition: {n1+n2}')
print(f'Subtraction: {n1-n2}')
print(f'Multiplication: {n1*n2}')
print(f'Division: {n1/n2}')
print(f'Roound Division: {round(n1/n2)}')
print(f'Floor Division: {n1//n2}')
print(f'Modulus: {n1%n2}')
print(f'Exponentiation: {n1**n2}')

Addition: 9
Subtraction: 5
Multiplication: 14
Division: 3.5
Roound Division: 4
Floor Division: 3
Modulus: 1
Exponentiation: 49