### Module: Pandas Assignment

#### Lesson: Pandas

In [2]:
import numpy as np
import pandas as pd

**Assignment 1: DataFrame Creation and Indexing**

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integrs. Set the index to be the first column.

In [12]:
## Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1,100,size=(6,4)), columns=['A','B','C','D'])
print("Original DataFrame:")
print(df)

## Set the indext to be the first column
df.set_index('A',inplace=True)
print("\nDataFrame with new Index:")
print(df)

Original DataFrame:
    A   B   C   D
0  64  78  27  83
1  12  83  58  13
2  67  84   7  82
3  81  18  34  26
4  75  93  99  49
5   7  73  78  87

DataFrame with new Index:
     B   C   D
A
64  78  27  83
12  83  58  13
67  84   7  82
81  18  34  26
75  93  99  49
7   73  78  87

2. Create a Pandas DataFrame with column 'A','B','C' and index 'X','Y','Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [5]:
## Create a Pandas DataFrame with specified columns adn index
df = pd.DataFrame(np.random.randint(1,100,size=(3,3)),columns=['A','B','C'],index=['X','Y','Z'])
print("Original DataFrame:")
print(df)

## Access the elements at row 'Y' and column 'B'
element = df.at['Y','B']
#element = df['B']['Y']
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  22  82  45
Y  17  39  71
Z  36  63  37
Element at row 'Y' and column 'B': 39

**Assignment 2: DataFrame Operations**

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [10]:
## Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print("Original DF:")
print(df)

## Add a new column that is the product of the first two columns
df['D'] = df['A'] * df['B']
print("\nDataFrame with new coluns:")
print(df)

Original DF:
    A   B   C
0  72  14  60
1  70  33  63
2  42  79  94
3  86   2  39
4   2  18  65

DataFrame with new coluns:
    A   B   C     D
0  72  14  60  1008
1  70  33  63  2310
2  42  79  94  3318
3  86   2  39   172
4   2  18  65    36

2. Create Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [16]:
## Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers
df = pd.DataFrame(np.random.randint(1,100,size=(4,3)),columns=['A','B','C'])
print("Original DF:")
print(df)

## Compute the row-wise and column-wise sum
row_sum = df.sum(axis=1)
col_sum = df.sum(axis=0)

print("\nRow-wise sum:")
print(row_sum)
print("\nColumn-wise sum:")
print(col_sum)

Original DF:
    A   B   C
0  90  68  89
1  22  53  76
2  40  33  15
3  65  12  54

Row-wise sum:
0    247
1    151
2     88
3    131
dtype: int64

Column-wise sum:
A    217
B    166
C    234
dtype: int64

**Assignment 3: Data Cleaning**

1. Cleaning a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [34]:
## Create a pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1,11,size=(5,3)),columns=['A','B','C'])
print("Original DF:")
print(df)

## Introduce some NaN values
df.iloc[0,1] = np.nan
df.iloc[4,0] = np.nan
df.iloc[3,2] = np.nan
print("DataFrame with NaN:")
print(df)

## Fill the NaN values with the mean of the respective columns
df.fillna(df.mean(),inplace=True)
print("\nDataFrame has been filled:")
print(df)

Original DF:
    A  B  C
0   9  9  4
1   6  1  8
2   2  3  2
3  10  9  5
4  10  5  1
DataFrame with NaN:
      A    B    C
0   9.0  NaN  4.0
1   6.0  1.0  8.0
2   2.0  3.0  2.0
3  10.0  9.0  NaN
4   NaN  5.0  1.0

DataFrame has been filled:
       A    B     C
0   9.00  4.5  4.00
1   6.00  1.0  8.00
2   2.00  3.0  2.00
3  10.00  9.0  3.75
4   6.75  5.0  1.00

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [47]:
## Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers.
df = pd.DataFrame(np.random.randint(1,100,size=(6,4)),columns=['A','B','C','D'])
print("Original DF:")
print(df)

## Introduce some NaN values in DF
df.iloc[0,1] = np.nan
df.iloc[3,0] = np.nan
df.iloc[5,1] = np.nan
print("\nDataFrame with NaN values:")
print(df)

## Drop the rows with any NaN values
df.dropna(inplace=True)
print("\nDataFrame without NaN values dropped:")
print(df)

Original DF:
    A   B   C   D
0  96  68  98  46
1   3  49  94  77
2  39  42  89  20
3  19   2  16  69
4  27   5  13  84
5  84  69  86  11

DataFrame with NaN values:
      A     B   C   D
0  96.0   NaN  98  46
1   3.0  49.0  94  77
2  39.0  42.0  89  20
3   NaN   2.0  16  69
4  27.0   5.0  13  84
5  84.0   NaN  86  11

DataFrame without NaN values dropped:
      A     B   C   D
1   3.0  49.0  94  77
2  39.0  42.0  89  20
4  27.0   5.0  13  84

**Assignment 4: Data Aggregation**

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A','B','C') and the 'Values' column with random integrs. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [62]:
## Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'
df = pd.DataFrame({'Category':np.random.choice(['a','b','c'],size=10), 'Value':np.random.randint(1,100,size=10)})
print("Original DF:")
print(df)

## Group the DataFrame by 'Category' and compute sum and mean
grp_df = df.groupby('Category')['Value'].agg(['sum','mean']).reset_index()
print("\nGrouped DF:")
print(grp_df)

Original DF:
  Category  Value
0        b     26
1        c      9
2        c     68
3        a     80
4        c     44
5        b      6
6        c     86
7        a     90
8        b     69
9        c     73

Grouped DF:
  Category  sum       mean
0        a  170  85.000000
1        b  101  33.666667
2        c  280  56.000000

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category' and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [70]:
## Create a Pandas DataFRame with 3 columns: 'Product' 'Category', and 'Sales'
df = pd.DataFrame({'Product':np.random.choice(['Prod1','Prod2','Prod3'],size=10),
                   'Category':np.random.choice(['A','B','C'],size=10),
                   'Sales':np.random.randint(1,100,size=10)})
print("Original DF:")
print(df)

## Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("\nGrouped DataFrame:")
print(grouped)

Original DF:
  Product Category  Sales
0   Prod3        C     54
1   Prod1        A     24
2   Prod3        C     20
3   Prod2        C     90
4   Prod2        C     43
5   Prod3        A     75
6   Prod3        B     71
7   Prod2        C     41
8   Prod3        A     79
9   Prod2        A     83

Grouped DataFrame:
Category
A    261
B     71
C    248
Name: Sales, dtype: int64

**Assignment 5: Merging DataFrames**

1. Create two Pandas DataFrame with common values. Merge the DataFrame using the comon column.

In [78]:
## Create two Pandas DataFrame with a common column
df1 = pd.DataFrame({'Key':['A','B','C','D'],
                    'Value1':np.random.randint(1,100,size=4)})
df2 = pd.DataFrame({'Key':['A','B','C','E'],
                    'Value2':np.random.randint(1,100,size=4)})
print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

## Merge the DataFrames using the common column
merged = pd.merge(df1,df2,on='Key')
print("\nMerged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      44
1   B      47
2   C      33
3   D      66

DataFrame 2:
  Key  Value2
0   A      76
1   B      52
2   C      94
3   E      85

Merged DataFrame:
  Key  Value1  Value2
0   A      44      76
1   B      47      52
2   C      33      94

2. Create tow Pandas DataFrame with different columns. Concatenate the DataFrames along the rows and along the columns.

In [84]:
## Create two Pandas DataFrames with different columns
from operator import index


df1 = pd.DataFrame({'A':np.random.randint(1,100,size=3),
                    'B':np.random.randint(1,100,size=3)})
df2 = pd.DataFrame({'C':np.random.randint(1,100,size=3),
                    'D':np.random.randint(1,100,size=3)})
print("DataFrame 1:")
print(df1)
print("\nDataFrame 2:")
print(df2)

## Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1,df2],axis=0)
print("\nConcatenated DataFrame {rows}:")
print(concat_rows)

## Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1,df2],axis=1)
print("\nConcatenated DataFrame {columns}:")
print(concat_columns)

## Merge based on index
concat_index = pd.merge(df1,df2,left_on=df1.index,right_on=df2.index)
print("\nMerged DataFrame {index}:")
print(concat_index)

DataFrame 1:
    A   B
0  27  89
1  26  98
2  15  23

DataFrame 2:
    C   D
0   3  21
1  44  98
2  73  50

Concatenated DataFrame {rows}:
      A     B     C     D
0  27.0  89.0   NaN   NaN
1  26.0  98.0   NaN   NaN
2  15.0  23.0   NaN   NaN
0   NaN   NaN   3.0  21.0
1   NaN   NaN  44.0  98.0
2   NaN   NaN  73.0  50.0

Concatenated DataFrame {columns}:
    A   B   C   D
0  27  89   3  21
1  26  98  44  98
2  15  23  73  50

Merged DataFrame {index}:
   key_0   A   B   C   D
0      0  27  89   3  21
1      1  26  98  44  98
2      2  15  23  73  50

**Assignment 6: Time Series Analysis**

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [89]:
## Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2024-01-01',end='2024-12-31',freq='D')
df = pd.DataFrame(date_rng,columns=['date'])
df['data'] = np.random.randint(0,100,size=len(date_rng))
df.set_index('date',inplace=True)
print("Original DataFrame:")
print(df)

## Resample the DataFrame to compute the monthly mean of the vaues
monthly_mean = df.resample('M').mean()
print("\nMonthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2024-01-01    61
2024-01-02    46
2024-01-03    41
2024-01-04    44
2024-01-05    26
...          ...
2024-12-27    32
2024-12-28    90
2024-12-29    75
2024-12-30    35
2024-12-31    65

[366 rows x 1 columns]

Monthly mean DataFrame:
                 data
date
2024-01-31  51.645161
2024-02-29  39.965517
2024-03-31  47.677419
2024-04-30  39.766667
2024-05-31  46.709677
2024-06-30  44.500000
2024-07-31  53.580645
2024-08-31  41.741935
2024-09-30  50.800000
2024-10-31  51.290323
2024-11-30  52.633333
2024-12-31  52.677419

/var/folders/nf/63c0ktdx1pd9b7kwmm8cw4ww0000gn/T/ipykernel_10024/324708669.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [110]:
## Create a Pandas DataFrame with datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01',end='2021-12-31',freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(1,100,size=(len(date_rng)))
df.set_index('date',inplace=True)
print("Original DF:")
print(df)

## Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("\nRolling mean DataFrame:")
print(rolling_mean)

Original DF:
            data
date
2021-01-01    96
2021-01-02    26
2021-01-03    71
2021-01-04    50
2021-01-05    24
...          ...
2021-12-27    97
2021-12-28    70
2021-12-29    58
2021-12-30    89
2021-12-31    23

[365 rows x 1 columns]

Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  53.428571
2021-12-28  58.000000
2021-12-29  60.571429
2021-12-30  66.571429
2021-12-31  62.857143

[365 rows x 1 columns]

**Assignment 7: MultiIndex DataFrame**

1. Create a Pandas DataFrame with a MultiIndex (hirerachical Index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [116]:
## Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A','A','B','B'], ['one','two','one','two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category','SubCategory'))
df = pd.DataFrame(np.random.randint(1,100,size=(4,3)),index=index,columns=['Value1','Value2','Value3'])
print("MultiIndex DataFarme:")
print(df)

## Basic indexing and slicing operations
print("\nIndexing at Category 'A':")
print(df.loc['A'])

print("\nSlicing at category 'B' and SubCategory 'two':")
print(df.loc[('B','two')])

MultiIndex DataFarme:
                      Value1  Value2  Value3
Category SubCategory
A        one              84      25       1
         two              88       5      16
B        one              73      82      27
         two              84      88       3

Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              84      25       1
two              88       5      16

Slicing at category 'B' and SubCategory 'two':
Value1    84
Value2    88
Value3     3
Name: (B, two), dtype: int64

2. Create a Pandas DataFrame with MultiIndex consisting 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [130]:
## Create a Pandas DataFrame with MultiIndex consisting 'Category' and 'SubCategory'
arrays = [['A','A','B','B'],['one','two','three','four']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category','SubCategory'))
df = pd.DataFrame(np.random.randint(1,100,size=(4,3)),columns=['v1','v2','v3'],index=index)
print("MultiIndex DataFrame:")
print(df)

## Sum of Category and SubCategory
df_cat = df.groupby('Category')[['v1','v2','v3']].sum()
print("\nCategory wise sum:")
print(df_cat)
df_subcat = df.groupby('SubCategory')[['v1','v2','v3']].sum()
print("\nSubCategory wise sum:")
print(df_subcat)
df_cat_sub = df.groupby(['Category','SubCategory'])[['v1','v2','v3']].sum()
print("\nCategory x SubCategory wise sum:")
print(df_cat_sub)

MultiIndex DataFrame:
                      v1  v2  v3
Category SubCategory
A        one           6  14  46
         two          52  26  13
B        three        21  85  69
         four         64  79  72

Category wise sum:
          v1   v2   v3
Category
A         58   40   59
B         85  164  141

SubCategory wise sum:
             v1  v2  v3
SubCategory
four         64  79  72
one           6  14  46
three        21  85  69
two          52  26  13

Category x SubCategory wise sum:
                      v1  v2  v3
Category SubCategory
A        one           6  14  46
         two          52  26  13
B        four         64  79  72
         three        21  85  69

**Assignment 8: Pivot Tables**

1. Create a Pandas DataFrame with columns 'Date','Category' and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [154]:
## Create a Pandas DataFrame with columns 'Date','Category', and 'Value'
date_rng = pd.date_range(start='2025-01-01',end='2025-01-10',freq='D')
df = pd.DataFrame({'Date':np.random.choice(date_rng,size=(20)),
                   'Category':np.random.choice(['A','B','C'],size=(20)),
                   'Value':np.random.randint(1,100,size=(20))})
# print("Original DataFrame:")
# print(df)

## Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value',columns='Category',index='Date',aggfunc='sum')
print('\nPivot Table:')
print(pivot_table)

Pivot Table:
Category        A      B      C
Date
2025-01-01    NaN   53.0    5.0
2025-01-02    NaN   23.0   51.0
2025-01-03  111.0  103.0    NaN
2025-01-04   93.0    NaN   12.0
2025-01-05   82.0    NaN  145.0
2025-01-07   46.0    NaN    NaN
2025-01-08   30.0    NaN    NaN
2025-01-09    NaN   30.0    NaN
2025-01-10    NaN    6.0    NaN

2. Create a Pandas DataFrame with columns 'Year', 'Quarter' and 'Revenue'. Create a pivot table compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [163]:
## Create a Pandas DataFrame with columns 'Year', 'Quarter' and 'Revenue'
df = pd.DataFrame({'Year':np.random.choice([2022,2023,2024],size=12),
                   'Quarter':np.random.choice(['Q1','Q2','Q3','Q4'],size=12),
                   'Revenue':np.random.randint(1,1000,size=12)})
print("Original DataFrame:")
print(df)

## Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values='Revenue',columns='Quarter',index='Year',aggfunc='mean')
print("\nPivot DataFrame:")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2023      Q3      414
1   2024      Q2      696
2   2023      Q3       88
3   2024      Q2      158
4   2023      Q4       24
5   2022      Q2       81
6   2024      Q2      802
7   2022      Q3      738
8   2023      Q1       33
9   2022      Q4      538
10  2024      Q4      441
11  2023      Q4      431

Pivot DataFrame:
Quarter    Q1     Q2     Q3     Q4
Year
2022      NaN   81.0  738.0  538.0
2023     33.0    NaN  251.0  227.5
2024      NaN  552.0    NaN  441.0

**Assignment 9: Applying Functions**

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [167]:
## Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print("Original DataFrame:")
print(df)

## Apply a function that doubles the values of the DataFrame
df_doubled = df.apply(lambda x: x*2)
print("\nDoubled DataFrame:")
print(df_doubled)

Original DataFrame:
    A   B   C
0  69  86  21
1  98   5  93
2  62  12  16
3  92  76  69
4  16   1  68

Doubled DataFrame:
     A    B    C
0  138  172   42
1  196   10  186
2  124   24   32
3  184  152  138
4   32    2  136

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [169]:
## Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1,100,size=(6,3)),columns=['A','B','C'])
print("Original DataFrame:")
print(df)

## Apply a lambda function to create a new column that is the sum of existing columns
df['Sum'] = df.apply(lambda x: x.sum(),axis=1)
print("\nDataFrame with Sum column:")
print(df)

Original DataFrame:
    A   B   C
0  66  90  76
1  81  85  28
2  94  94  50
3  74  41  58
4  61  75  44
5   8  72  91

DataFrame with Sum column:
    A   B   C  Sum
0  66  90  76  232
1  81  85  28  194
2  94  94  50  238
3  74  41  58  173
4  61  75  44  180
5   8  72  91  171

**Assignment 10: Working with Text Data**

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [173]:
## Create a Pandas Series with 5 random text strings.
text_data = pd.Series(['apple','banana','cherry','date','elderberry'])
print("Original Series:")
print(text_data)

## Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print('\nUppercase Series:')
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object

Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

2. Create a Pandas Series with 5 random text strings Extract three characters of each strings.

In [175]:
## Create a Pandas Series with 5 random test strings
text_data = pd.Series(['apple','banana','cherry','date','elderberry'])
print("Original Series:")
print(text_data)

## Extract the first three characters of each string
first_three_chars = text_data.str[:3]
print("\nFirst three characters:")
print(first_three_chars)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object

First three characters:
0    app
1    ban
2    che
3    dat
4    eld
dtype: object