#### SQL And SQLite

SQL (Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is self-contained, serverless and zero-configuration database engine that is widely used for embeded database systems. In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables, and performing various SQL operations.

In [57]:
import sqlite3

In [58]:
## Conenct to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [59]:
cursor = connection.cursor()

In [60]:
## Create a Table
cursor.execute('''
create table if not exists employees(
               id integer primary key,
               name text not null,
               age integer,
               department text
               )               
''')

## Commit the changes
connection.commit()

In [61]:
cursor.execute('''
select * from employees
               ''')

In [77]:
## Insert the data in sqlite table
try:
    cursor.execute("insert into employees(name,age,department) values('Ajwar',27,'ML Eng')")
    cursor.execute("insert into employees(name,age,department) values('Adarsh',35,'Manager')")
    cursor.execute("insert into employees(name,age,department) values('Sreekanth',32,'Senior Dev')")
    cursor.execute("insert into employees(name,age,department) values('Shashank',26,'Analyst')")
except Exception as e: # save only if all success
    connection.rollback() # undo partial inserts
    print("Error occured:",e)

## Commit the chages (save)
connection.commit()

In [82]:
## Query the data from the table
cursor.execute("select * from employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Ajwar', 27, 'ML Eng')
(2, 'Adarsh', 30, 'Manager')
(3, 'Sreekanth', 32, 'Senior Dev')
(4, 'Shashank', 26, 'Analyst')

In [83]:
## Update the data in the table
cursor.execute("update employees set age=30 where name='Adarsh'")

In [85]:
## Query the data from the table
cursor.execute("select * from employees")
rows = cursor.fetchall()

## Print the queried data
for row in rows:
    print(row)

(1, 'Ajwar', 27, 'ML Eng')
(2, 'Adarsh', 30, 'Manager')
(3, 'Sreekanth', 32, 'Senior Dev')
(4, 'Shashank', 26, 'Analyst')

In [86]:
## Delete the data from the table
cursor.execute("delete from employees where name='Shashank'")

## Save changes
connection.commit()

In [88]:
## Querying the data
cursor.execute("select * from employees")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Ajwar', 27, 'ML Eng')
(2, 'Adarsh', 30, 'Manager')
(3, 'Sreekanth', 32, 'Senior Dev')

In [89]:
## Working with Sales Data
## Connect to SQLite database
connection = sqlite3.connect('sales_data.db')
cursor = connection.cursor()

## create a table for sales data
cursor.execute('''
create table if not exists sales(
               id integer primary key,
               date text not null,
               product text not null,
               sales integer,
               region text
               )               
''')

## Insert data into sales table
sales_data = [
    ('2023-01-01','Product1',100,'North'),
    ('2023-01-02','Product2',200,'South'),
    ('2023-01-03','Product3',300,'East'),
    ('2023-01-04','Product4',400,'West'),
    ('2023-01-05','Product5',500,'North')
]

cursor.executemany('''
insert into sales(date,product,sales,region) values(?,?,?,?)
                   ''',sales_data)

connection.commit()

In [91]:
## Query the data form table
cursor.execute("select * from sales")
rows = cursor.fetchall()
for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product3', 300, 'East')
(4, '2023-01-04', 'Product4', 400, 'West')
(5, '2023-01-05', 'Product5', 500, 'North')

In [92]:
## Close the connection
connection.close()

In [93]:
## Query the data from table
cursor.execute("select * from sales")
rows = cursor.fetchall()
for row in rows:
    print(row)

ProgrammingError: Cannot operate on a closed database.

Here we have already close the connection, thats why its thowing the erro.