### Module: SQLite3 Assignments

#### Lesson: SQLite3

In [1]:
import sqlite3

**Assignment 1: Creating and Connecting to a Database**

1. Write a Python function to create a new SQLite3 database named `test.db`

In [13]:
def create_database(database_name):
    conn = sqlite3.connect(database_name)
    conn.close()
    print(f"the {database_name} has been created!")

## Test the function
create_database('test.db')

the test.db has been created!

In [14]:
# def create_database():
#     conn = sqlite3.connect('test.db')
#     conn.close()
#     print("Database created and successfully connected.")

# ## Test the function
# create_database()

2. Write a Python function to create a table named `employees` with columns `id` (integer) `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [15]:
def create_table(database_name):
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()
    cursor.execute('''
            create table if not exists employees(
                   id integer primary key,
                   name text not null,
                   age integer,
                   department text
                   )
                   ''')
    conn.commit()
    conn.close()
    print(f"The 'employees' table has been created inside {database_name} database")

## Test the function
create_table('test.db')

The 'employees' table has been created inside test.db database

**Assignment 2: Inserting Data**

1. Write a Python function to insert a new employee into the `employees` table.

In [16]:
def insert_employee(database_name,id,name,age,department):
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()
    cursor.execute("insert into employees(id,name,age,department) values(?,?,?,?)",
                   (id,name,age,department))
    conn.commit()
    conn.close()
    print("Employee inserted successfully.")

## Test the function
insert_employee('test.db',1,'Alice',30,'HR')

Employee inserted successfully.

2. Insert at-least 5 different employees into the `employees` table.

In [17]:
insert_employee('test.db',2,'Bob',25,'Engineering')
insert_employee('test.db',3,'Charlie',28,'Sales')
insert_employee('test.db',4,'David',35,'Marketing')
insert_employee('test.db',5,'Eve',22,'HR')

Employee inserted successfully.
Employee inserted successfully.
Employee inserted successfully.
Employee inserted successfully.

In [19]:
conn = sqlite3.connect('test.db')
cursor = conn.cursor()
cursor.execute("select * from employees")
rows = cursor.fetchall()
conn.close()
for row in rows:
    print(row)

(1, 'Alice', 30, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

**Assignment 3: Querying Data**

1. Write a Python function to fetch and display all records from the `employees` table.

In [22]:
def fetch_all_employees(database_name):
    conn = sqlite3.connect(database_name)
    cursor = conn.cursor()
    cursor.execute("select * from employees")
    rows = cursor.fetchall()
    conn.commit()
    conn.close()
    for row in rows:
        print(row)
    print("\nFetching has been completed!")

# Test the function
fetch_all_employees('test.db')

(1, 'Alice', 30, 'HR')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

Fetching has been completed!

2. Write a Python function to fetch and display all employees from a specific department.

In [29]:
def fetch_employees_by_department(database,department):
    with sqlite3.connect(database) as conn:
        cursor = conn.cursor()
        cursor.execute("select * from employees where department=?",(department,))
        records = cursor.fetchall()
    for record in records:
        print(record)

## Testing Function
fetch_employees_by_department('test.db','HR')

(1, 'Alice', 30, 'HR')
(5, 'Eve', 22, 'HR')

**Assignmment 4: Updating Data**

1. Write a Python function to update the department of an employee based on their `id`.

In [32]:
def update_employee_department(database,emp_id,new_department):
    with sqlite3.connect(database) as conn:
        cursor = conn.cursor()
        cursor.execute("update employees set department=? where id=?",(new_department,emp_id))
        cursor.execute("select * from employees")
        records = cursor.fetchall()
        print("\nUpdation has been completed!")
    for record in records:
        print(record)
    print("\nFetching completed!")

## Testing fucntion
update_employee_department('test.db',1,'DA')

Updation has been completed!
(1, 'Alice', 30, 'DA')
(2, 'Bob', 25, 'Engineering')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

Fetching completed!

2. Update the department of at least 2 employees and display the updated records.

In [34]:
## Update the department of 2 employees
update_employee_department('test.db',1,'Research')
update_employee_department('test.db',2,'Customer Support')

## Fetch and display all records
fetch_all_employees('test.db')

Updation has been completed!
(1, 'Alice', 30, 'Research')
(2, 'Bob', 25, 'Customer Support')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

Fetching completed!

Updation has been completed!
(1, 'Alice', 30, 'Research')
(2, 'Bob', 25, 'Customer Support')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

Fetching completed!
(1, 'Alice', 30, 'Research')
(2, 'Bob', 25, 'Customer Support')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

Fetching has been completed!

**Assignment 5: Deleting Data**

1. Write a Python function to delete an employee from the `employees` table based on their `id`

In [36]:
def delete_employee(database,employee_id):
    with sqlite3.connect(database) as conn:
        cursor = conn.cursor()
        cursor.execute("delete from employees where id=?",(employee_id,))
        cursor.execute("select * from employees")
        records = cursor.fetchall()
    for record in records:
        print(record)
    print("\nEmployee deleted successfully!")

## Testing function
delete_employee('test.db',2)

(1, 'Alice', 30, 'Research')
(3, 'Charlie', 28, 'Sales')
(4, 'David', 35, 'Marketing')
(5, 'Eve', 22, 'HR')

Employee deleted successfully!

2. Delete at least 1 employee and display the remaining records.

In [38]:
## Delete an employee
delete_employee('test.db',4)

## Fetch and display all records
fetch_all_employees('test.db')

(1, 'Alice', 30, 'Research')
(3, 'Charlie', 28, 'Sales')
(5, 'Eve', 22, 'HR')

Employee deleted successfully!
(1, 'Alice', 30, 'Research')
(3, 'Charlie', 28, 'Sales')
(5, 'Eve', 22, 'HR')

Fetching has been completed!

**Assignment 6: Advanced Queries**

1. Write a Python function to fetch and display employees older than a certain age.

In [43]:
def fetch_employees_older_than(database,age):
    with sqlite3.connect(database) as conn:
        cursor = conn.cursor()
        cursor.execute("select * from employees where age>?",(age,))
        records = cursor.fetchall()
    for record in records:
        print(record)
    print("\nFetched employees older than 25 age!")

## Testing function
fetch_employees_older_than('test.db',25)

(1, 'Alice', 30, 'Research')
(3, 'Charlie', 28, 'Sales')

Fetched employees older than 25 age!

2. Write Python function to fetch and display employees whose names start with a specific letter.

In [44]:
def fetch_employees_name_starts_with(database,letter):
    with sqlite3.connect(database) as conn:
        cursor = conn.cursor()
        cursor.execute("select * from employees where name like ?",(letter+'%',))
        records = cursor.fetchall()
    for record in records:
        print(record)
    print(f"\nFetched records starts with '{letter}'!")

## Testing function
fetch_employees_name_starts_with('test.db','a')

(1, 'Alice', 30, 'Research')

Fetched records starts with 'a'!

**Assignment 7: Handling Transactions**

1. Write a Python function to insert multiple employees into `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertion are committed.

In [49]:
def insert_multiple_employees(database,employees):
    with sqlite3.connect(database) as conn:
        cursor = conn.cursor()
        try:
            cursor.executemany('''
                    insert into employees(id,name,age,department) values(?,?,?,?)
                               ''',employees)
            conn.commit()
            print("All employees inserted successfully.")
        except Exception as e:
            conn.rollback()
            print("Error occured, transaction rolled back.")
            print(e)
        finally:
            conn.close

## Test the function with valid and invalid data
employees = [
    (6,'Frank',40,'Finance'),
    (7,'Grace',29,'Engineering'),
    (8,'Hannah',35,'Marketing'),
    (9,'Ivan',38,'Sales'),
    (6,'Jack',45,'HR') # Duplicate ID to cause an error
]

insert_multiple_employees('test.db',employees)

Error occured, transaction rolled back.
UNIQUE constraint failed: employees.id

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [55]:
def update_multiple_employees_age(database,updates):
    with sqlite3.connect(database) as conn:
        cursor = conn.cursor()
        try:
            cursor.executemany("update employees set age=? where id=?",updates)
            conn.commit()
            print("All employees age upated successfully")
        except Exception as e:
            conn.rollback()
            print("Error occured, transaction rolled back")
        finally:
            print("\nAll process completed")

## Test the function with valid and invalid data
updates = [
    (32,1),
    (26,2),
    (33,3),
    (41,4),
    (23,5)
]

update_multiple_employees_age('test.db',updates)

All employees age upated successfully

All process completed

In [56]:
fetch_all_employees('test.db')

(1, 'Alice', 32, 'Research')
(3, 'Charlie', 33, 'Sales')
(5, 'Eve', 23, 'HR')

Fetching has been completed!

**Assignment 8: Creating Relationship**

1. Create a new table named `departments` with columns `id` (integer) and name (text).

In [57]:
def create_departments_table(database):
    conn = sqlite3.connect(database)
    cursor = conn.cursor()
    cursor.execute('''
                   create table if not exists departments(
                            id integer primary key,
                            name text not null
                   )
                   ''')
    conn.commit()
    conn.close()
    print("Table 'departments' created successfully.")

## Test the function
create_departments_table('test.db')

Table 'departments' created successfully.

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

In [58]:
def add_department_foreign_key(database):
    conn = sqlite3.connect(database)
    cursor = conn.cursor()
    cursor.execute
    ('''
        pragma foreign_keys=off;
        begin transaction;
        alter table employees rename to old_employees;
        create table employees
        (
                   id integer primary key,
                   name text not null,
                   age integer,
                   department text,
                   department_id integer,
                   foreign key(department_id) references departments(id)
        );
        insert into employees(id,name,age,department)
        select id,name,age,department from old_employees
        drop table old_employees;
        commit;
        pragma foreign_keys=on;
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' modified successfully.")

## Test the function
add_department_foreign_key('test.db')

Table 'employees' modified successfully.

In [59]:
fetch_all_employees('test.db')

(1, 'Alice', 32, 'Research')
(3, 'Charlie', 33, 'Sales')
(5, 'Eve', 23, 'HR')

Fetching has been completed!

3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referencing integrity.

In [61]:
def insert_department_and_employees(database,department_id,department_name,employee_id,name,age,department):
    conn = sqlite3.connect(database)
    cursor = conn.cursor()
    try:
        cursor.execute
        ('''
        insert into departments(id,name) values(?,?) 
        ''',(department_id,department_name))
        cursor.execute
        ('''
        insert into employees(id,name,age,department,department_id)
        values(?,?,?,?,?)
        ''',(employee_id,name,age,department,department_id))
        conn.commit()
        print("Department and employees inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occured, transaction rolled back.")
        print(e)
    finally:
        conn.close()

## Test the function
insert_department_and_employees('test.db',1,'Finance',10,'Zara',28,'Finance')

Department and employees inserted successfully.

**Assignment 9: Indexing and Optimization**

1. Create an index on the `name` column of the `employees` table.

In [62]:
def create_index_on_name(database):
    conn = sqlite3.connect(database)
    cursor = conn.cursor()
    cursor.execute("create index idx_name on employees(name)")
    conn.commit()
    conn.close()
    print("Index on 'name' column created successfully.")

## Test the function
create_index_on_name('test.db')

Index on 'name' column created successfully.

2. Write a Python function and display all employees whose names start with a specific letter. Compare the performance with and without index.

In [65]:
import time

def fetch_employees_name_starts_with_performance(database,letter):
    conn = sqlite3.connect(database)
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute("select * from employees where name like ?",(letter+'%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print(f"Time taken:{end_time-start_time} seconds")
    for record in records:
        print(record)

## Test the function with the index
fetch_employees_name_starts_with_performance('test.db','A')

Time taken:0.0003178119659423828 seconds
(1, 'Alice', 32, 'Research')

**Assignment 10: Backing Up and Restoring Data**

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

In [67]:
import shutil

def backup_database(database):
    shutil.copy(database,'backup.db')
    print("Database backed up successfully.")

## Test the function
backup_database('test.db')

Database backed up successfully.

2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [68]:
def restore_database(database):
    shutil.copy('backup.db',database)
    print("Database restored successfully!")

## Test the function
restore_database('test.db')

Database restored successfully!