#### Module 3: Data Structures Assignments

**Lesson 3.4: Dictionaries**

**Assignment 1: Creating and Accessing Dictionaries**

Create a dictionary with the first 10 positive integers as keys and their squares as values. Print the dictionary.

In [11]:
# using dictionary comprehension
{x:x**2 for x in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# using simple for loop
d = {}
for i in range(1,11):
    d[i]=i**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
# using while loop
d={}
i=1
while i<11:
    d[i]=i**2
    i+=1
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [114]:
## solution from course
d = {i:i**2 for i in range(1,11)}
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

**Assignment 2: Accessing Dictionary Elements**

Print the value of the key 5 and the key of the dictionary created in Assignment1.

In [15]:
d[5]

25

In [115]:
## solution from course
print(f"Value of key 5: {d[5]}")
print(f"Keys: {list(d.keys())}")

Value of key 5: 25
Keys: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Assignment 3: Dictionary Methods**

Add a new key-value pair (11,121) to dictionary created Assignment1 and then remove the key-value pair with key 1. Print the modified dictionary.

In [20]:
d[11]=121
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [22]:
del d[1]
print(d)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

In [121]:
## solution from course
d[11] = 121
d.pop(1)
print(d)

{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121}

**Assignment 4: Iterating Over Dictionaries**

Iterate over the dictionary created in Assignement 1 and print each key-value pair

In [30]:
for key,value in d.items():
    print(f"key:{key},value:{value}")

key:2,value:4
key:3,value:9
key:4,value:16
key:5,value:25
key:6,value:36
key:7,value:49
key:8,value:64
key:9,value:81
key:10,value:100
key:11,value:121

In [119]:
## solution from course
for key, value in d.items():
    print(f"{key}:{value}")

1:1
2:4
3:9
4:16
5:25
6:36
7:49
8:64
9:81
10:100

**Assignment 5: Dictionary Comprehensions**

Create a new dictionary containing the cubes of the first 10 positive integers using a dictionary comprehension. Print the new dictionary.

In [25]:
# Using dictionary comprehension
{k:k**3 for k in range(1,11)}

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [26]:
# Using for loop
t = {}
for k in range(1,11):
    t[k]=k**3
print(t)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [27]:
# Using while loop
a = {}
b = 1
while b<=10:
    a[b]=b**3
    b+=1
print(a)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [123]:
## solution from course
cubes = {i:i**3 for i in range(1,11)}
print(cubes)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

**Assignment 6: Merging Dictionaries**

Create two dictionaries: One with keys as the first 5 positive integers and values as their squares, and another with keys as the next 5 positive integers and values as their squares. Merge these dictionaries into a single dictionary and print it.

In [33]:
dict1 = {j:j**2 for j in range(1,6)}
dict2 = {k:k**2 for k in range(6,11)}
print(f"dictionary 1: {dict1}")
print(f"dictionary 2: {dict2}")

dictionary 1: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
dictionary 2: {6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [35]:
# Merging two dictionaries
{**dict1, **dict2}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [122]:
## solution from course
## solution from course
d1 = {i:i**2 for i in range(1,6)}
d2 = {x:x**2 for x in range(6,11)}
d1.update(d2)
print(d1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

**Assignment 7: Nested Dictionaries**

Create a nested dictionary representing a student with keys 'name', 'age', 'grades', where 'grades' is another dictionary with keys 'math', 'science' and 'english'. Print the nested dictionary.

In [36]:
students = {
    "name":"aj", "age":29, "grades":{"math":99, "science":87, "english":79}
}

print(students)
print(type(students))

{'name': 'aj', 'age': 29, 'grades': {'math': 99, 'science': 87, 'english': 79}}
<class 'dict'>

In [37]:
students['grades']

{'math': 99, 'science': 87, 'english': 79}

In [38]:
students['age']

29

In [124]:
## solution from course
student = {
    "name":"John doe",
    "age":16,
    "grade":{
        "math":90,
        "science":85,
        "english":88
    }
}
print(student)

{'name': 'John doe', 'age': 16, 'grade': {'math': 90, 'science': 85, 'english': 88}}

**Assignement 8: Dictionary of Lists**

Create a dictionary where the keys are the first 5 positive integers and the values are lists containing the first 5 multiple of the key. Print the dictionary.

In [48]:
multi = {i:[i*j for j in range(1,6)] for i in range(1,6)}
print(multi)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

In [126]:
## solution form course
multiples = {i:[i*j for j in range(1,6)] for i in range(1,6)}
print(multiples)

{1: [1, 2, 3, 4, 5], 2: [2, 4, 6, 8, 10], 3: [3, 6, 9, 12, 15], 4: [4, 8, 12, 16, 20], 5: [5, 10, 15, 20, 25]}

**Assignment 9: Dictionary of Tuples**

Create a dictionary where the keys are the first 5 positive integers and the values are tuples containing the key and its square. Print the dictionary.

In [50]:
# using dictionary comprehension
{x:(x,x**2) for x in range(1,6)}

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

In [52]:
# using simple for loop
dict4 = {}
for i in range(1,6):
    dict4[i]=(i,i**2)
print(dict4)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

In [128]:
# using while loop
dict5 = {}
k = 1
while k<=5:
    dict5[k]=(k,k**2)
    k+=1
print(dict5)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

In [129]:
## solution from course
tuple_dict = {i:(i,i**2) for i in range(1,6)}
print(tuple_dict)

{1: (1, 1), 2: (2, 4), 3: (3, 9), 4: (4, 16), 5: (5, 25)}

**Assignement 10: Dictionary and List Conversion**

Create a dictionary with the first 5 positive integers as keys and their squares as values. Convert the dictionary to a list of tuples and print it.

In [57]:
dict5 = {i:i**2 for i in range(1,6)}
print(dict5)
print(type(dict5))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
<class 'dict'>

In [64]:
list(dict5.items())

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [130]:
## solution from course
d = {i: i**2 for i in range(1,6)}
list_of_tuples = list(d.items())
print(list_of_tuples)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

**Assignment 11: Dictionary Filtering**

Create a dictionary with the first 10 positive integers as keys their squares as values. Create a new dictionary containing only the key-value pairs where the key is even. Print the new dictionary.

In [67]:
dict6 = {l:l**2 for l in range(1,11) if l%2==0}
print(dict6)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [132]:
## solution from course
d = {i:i**2 for i in range(1,11)}
even_dict = {k:v for k,v in d.items() if k%2==0}
print(f"orginal dict: {d}")
print(f"even dict: {even_dict}")

orginal dict: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
even dict: {2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

**Assignment 12: Dictionary Key and Value Transformation**

Create a dictionary with the first 5 positive integer as keys and their squares as values. Create a new dictionary with keys and values swapped. Print the new dictionary.

In [69]:
dict7 = {r:r**2 for r in range(1,6)}

In [77]:
{value:key for key, value in dict7.items()}

{1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

In [133]:
## solution from course
d = {i:i**2 for i in range(1,6)}
swapped_dict = {v:k for k,v in d.items()}
print(f"orginal dictionary: {d}")
print(f"swapped dictionary: {swapped_dict}")

orginal dictionary: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
swapped dictionary: {1: 1, 4: 2, 9: 3, 16: 4, 25: 5}

**Assignment 13: Default Dictionary**

Create a default dictionary where each key has a default value of an empty list. Add some elements to the list and print the dictionary.

In [79]:
dict11 = {
    "name":[], "age":[],"grade":[]
}
print(dict11)
print(type(dict11))

{'name': [], 'age': [], 'grade': []}
<class 'dict'>

In [81]:
dict11["name"] = ['Ajwar','John','Jacob']
dict11["age"] = [29,33,25]
dict11['grade'] = ["A","B","C"]

In [82]:
print(dict11)

{'name': ['Ajwar', 'John', 'Jacob'], 'age': [29, 33, 25], 'grade': ['A', 'B', 'C']}

In [136]:
## solution from course
from collections import defaultdict

default_dict = defaultdict(list)
default_dict['a'].append(1)
default_dict['b'].append(2)
default_dict['c'].append(3)
print(default_dict)

defaultdict(<class 'list'>, {'a': [1], 'b': [2], 'c': [3]})

**Assignment 14: Counting with Dictionaries**

Write a function that takes a string and returns a dictionary with the count of each character in the string. Print the dictionary.

In [100]:
def string_print():
    d = {}
    s = input('enter a string')
    for i in list(s):
        if i in d:
            d[i]+=1
        else:
            d[i]=1
    print(d)

In [101]:
string_print()

{'a': 2, 'b': 2, 'c': 2}

In [137]:
## solution from course
def count_chars(s):
    count_dict = {}
    for char in s:
        count_dict[char] = count_dict.get(char,0)+1
    return count_dict

string = "hello world"
print(count_chars(string))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

**Assignment 15: Dictionary and JSON**

Create a dictionary representing a book with keys 'title', 'author', 'year' and 'genre'. Convert the dictionary to a JSON string and print it.

In [107]:
book1 = {
    "title":"drama", "author":"john", "year":2023, "genre":"thriller"
}

In [108]:
print(book1)
print(type(book1))

{'title': 'drama', 'author': 'john', 'year': 2023, 'genre': 'thriller'}
<class 'dict'>

In [110]:
book1.keys()

dict_keys(['title', 'author', 'year', 'genre'])

In [112]:
book1.values()

dict_values(['drama', 'john', 2023, 'thriller'])

In [144]:
## solution from course
import json

book = {
    "title":"To Kill a Mockingbird",
    "author":"Harper Lee",
    "year":1960,
    "genre":"Fiction"
}

book_json = json.dumps(book)
print(book_json)

{"title": "To Kill a Mockingbird", "author": "Harper Lee", "year": 1960, "genre": "Fiction"}