#### Module 3: Data Structures Assignments

**Lesson 3.3: Sets**

**Assignment 1: Creating and Acessing Sets**

Create a set with the first 10 positive integers. Print the set.

In [2]:
set1 = set()
print(type(set1))

<class 'set'>

In [3]:
set2 = set([1,2,3,4,5])
print(type(set2))

<class 'set'>

In [ ]:
## solution
s = set(range(1,11))
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**Assignment 2: Adding and Removing Elements**

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [6]:
set2.add(11)
print(set2)

set2.remove(1)
print(set2)

{1, 2, 3, 4, 5, 11}
{2, 3, 4, 5, 11}

In [88]:
## solution
s.add(11)
s.remove(1)
print(s)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

**Assignment 3: Set Operations**

Create two sets: One with first 5 positive integers and another with the first 5 even integers. Perform and print the result of union, intersection, difference, and symmetric difference operations on these sets.

In [21]:
set3 = set([x for x in range(1,6)])
set4 = set([x for x in range(1,11) if x%2==0])

print(f"set1 : {set3}")
print(f"set2 : {set4}")

set1 : {1, 2, 3, 4, 5}
set2 : {2, 4, 6, 8, 10}

In [22]:
# union
print(f"union: {set3.union(set4)}")

# intersection
print(f"intersection: {set3.intersection(set4)}")

# difference
print(f"difference: {set3.difference(set4)}")

# symmetric difference
print(f"symmetric difference: {set3.symmetric_difference(set4)}")

union: {1, 2, 3, 4, 5, 6, 8, 10}
intersection: {2, 4}
difference: {1, 3, 5}
symmetric difference: {1, 3, 5, 6, 8, 10}

In [90]:
## solution
set1 = set(range(1,6))
set2 = set(range(2,11,2)) # even numbers till 10
print(f"Uniqon: {set1 | set2}")
print(f"Intersection: {set1 & set2}")
print(f"Difference (set1 - set2): {set1 - set2}")
print(f"Symmetric Difference: {set1 ^ set2}")

Uniqon: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference (set1 - set2): {1, 3, 5}
Symmetric Difference: {1, 3, 5, 6, 8, 10}

**Assignment 4: Set Comprehension**

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [25]:
set5 = {x for x in range(1,11)}
print(set5)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [91]:
squares = {i**2 for i in range(1,11)}
print(squares)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

**Assignment 5: Filtering Sets**

Create a new set containing only the even numbers from the set created in Assingment 1 using a set comphrehension. Print the new set.

In [30]:
{x for x in set3 if x%2==0}

{2, 4}

In [94]:
## solution from course
evens = {i for i in s if i%2==0}
print(evens)

{2, 4, 6, 8, 10}

**Assignment 6: Set Methods**

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [31]:
set6 = {1,1,3,6,6,7,9,9}
print(set6)

{1, 3, 6, 7, 9}

In [34]:
l = [1,1,2,3,4,6,7,7]

print(f"with duplicates in list:{l}")

set6 = set(l)
print(f"leveraged set method to convert list to set: {set6}")

with duplicates in list:[1, 1, 2, 3, 4, 6, 7, 7]
leveraged set method to convert list to set: {1, 2, 3, 4, 6, 7}

In [95]:
s = {1,2,2,3,4,4,5}
unique_s = set(s)
print(unique_s)

{1, 2, 3, 4, 5}

**Assignment 7: Subsets and Supersets**

Create two sets: One with first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the result.

In [35]:
set7 = {x for x in range(1,6)}
set8 = {x for x in range(1,4)}

print(set7)
print(set8)

{1, 2, 3, 4, 5}
{1, 2, 3}

In [36]:
# second set is subset of first set
set8.issubset(set7)

True

In [37]:
# first set is superset of second set
set7.issuperset(set8)

True

In [96]:
## solutin from course
set1 = set(range(1,6))
set2 = set(range(1,4))
print(f"Is set2 a subset of set1? {set2.issubset(set1)}")
print(f"Is set1 a superset of set2? {set1.issuperset(set2)}")

Is set2 a subset of set1? True
Is set1 a superset of set2? True

**Assignement 8: Frozenset**

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [39]:
frozen_set1 = frozenset([1,2,3,4,5,8,9,1,1,1,1])
print(frozen_set1)
print(type(frozen_set1))

frozenset({1, 2, 3, 4, 5, 8, 9})
<class 'frozenset'>

In [97]:
## solution from course
fs = frozenset(range(1,6))
print(fs)

frozenset({1, 2, 3, 4, 5})

**Assignment 9: Set and List Conversion**

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [41]:
set8 = {x for x in range(1,6)}
print(set8)
print(type(set8))

{1, 2, 3, 4, 5}
<class 'set'>

In [43]:
lst1 = list(set8)
print(lst1)
print(type(lst1))

[1, 2, 3, 4, 5]
<class 'list'>

In [44]:
lst1.append(6)
print(lst1)

[1, 2, 3, 4, 5, 6]

In [45]:
set9 = set(lst1)
print(set9)
print(type(set9))

{1, 2, 3, 4, 5, 6}
<class 'set'>

In [98]:
## solution from course
s = set(range(1,6))
lst = list(s)
lst.append(6)
s = set(lst)
print(s)

{1, 2, 3, 4, 5, 6}

**Assignment 10: Set and Dictionary**

Create a dictionary with set keys and integer values. Print the dictionary

In [49]:
# solution by course
d = {
    frozenset({1, 2}): 3,
    frozenset({3, 4}): 7,
    frozenset({5, 6}): 11
}
print(d)
print(type(d))

{frozenset({1, 2}): 3, frozenset({3, 4}): 7, frozenset({5, 6}): 11}
<class 'dict'>

In [54]:
d1 = {
    frozenset({"emp1"}):{"Ajwar", 29, "India", 333},
    frozenset({"emp2"}):{"John", 30, "US", 555}
}

print(d1)
print(type(d1))

{frozenset({'emp1'}): {'India', 333, 'Ajwar', 29}, frozenset({'emp2'}): {'US', 555, 30, 'John'}}
<class 'dict'>

In [100]:
## solution from course
dict1 = {
    frozenset({1,2}): 3,
    frozenset({4,5}): 6
}

print(dict1)
print(type(dict1))

{frozenset({1, 2}): 3, frozenset({4, 5}): 6}
<class 'dict'>

**Assignment 11: Iterating Over Sets**

Create a set and iterate over the elements, printing each element.

In [56]:
{x for x in set8}

{1, 2, 3, 4, 5}

In [57]:
for x in set8:
    print(x)

1
2
3
4
5

In [101]:
## solution from course
s = set(range(1,6))
for elem in s:
    print(elem)

1
2
3
4
5

**Assignmenment 12: Removing Elements from Sets**

Create a set and remove elements from it unitl it is empyty. Print the set aftereac removal.

In [102]:
## solution from course
s = set(range(1,6))
while s:
    s.pop()
    print(s)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

**Assignment 13: Set symmetric Difference Update**

Create two sets and update the first set with the syemmetric difference of two sets. Print the modified first set.

In [62]:
print(set7)
print(set8)

{1, 2, 3, 4, 5}
{4, 5}

In [63]:
set7.symmetric_difference(set8)

{1, 2, 3}

In [67]:
set7.symmetric_difference_update(set8)

In [68]:
print(set7)

{1, 2, 3}

In [105]:
## solution from course
set1 = {1,2,3}
set2 = {3,4,5}
set1.symmetric_difference_update(set2)
print(set1)

{1, 2, 4, 5}

**Assignment 14: Set Membership Testing**

Create a set and test if certain elements are present in the set. Print the results.

In [80]:
set10 = set(x for x in input("Enter few values with space delimiter").split())

In [81]:
print(set10)

{'10', 'ab', 'gh', 'cd', 'ef'}

In [82]:
"a" in set10

False

In [83]:
"cd" in set10

True

In [106]:
## solution from course
s = set(range(1,6))
print(3 in s)
print(6 in s)

True
False

**Assignment 15: Set of Tuples**

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [84]:
set11 = {(10,11),("aj","wa"),(10.4,11.11),(True,False)}
print(set11)
print(type(set11))

{(True, False), (10, 11), (10.4, 11.11), ('aj', 'wa')}
<class 'set'>

In [107]:
## solution from course
s = {(1,2), (3,4), (5,6)}
print(s)

{(1, 2), (3, 4), (5, 6)}